@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide:200,300,400,500,600,700,800,900&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

::placeholder
{
    color: black;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

header.sticky
{
    padding: 10px 100px;
}

.logo
{
    font-family: 'Audiowide', sans-serif;
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
}

.menuToggle
{
    position: relative;
    width: 30px;
    height: 30px;
    background: url('resources/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.menuToggle.active
{
    background: url(resources/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
}

.navigation.active
{
    opacity: 1;
    visibility: visible;
}

.navigation li 
{
    list-style: none;
    margin: 10px 0;
}

.navigation li a 
{
    color: black;
    font-family: 'Audiowide', sans-serif;
    font-size: 1.2em;
    letter-spacing: 4px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation li a:hover
{
    color: #00be0d;
}

section
{
    position: relative;
    padding: 50px 100px 50px 100px;
    width: 100%;
    background: #f8f8f8;
}

.numbers
{
    background: #00be0d;
    padding: 80px 0 60px 0;
    position: relative;
    color: white;
}

.numbers .title h2
{
    color: white;
}

.numbers .title h2:before
{
    background: white;
}

.numbers span
{
    font-family: 'Audiowide', sans-serif;
}

.dlab 
{
    width: 30%;
    margin-bottom: 30px;
}

.cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.cover2
{
    padding-top: 30px;
    width: 400px;
    height: 250px;
}

.cover3
{
    margin-top: 50px;
    width: 400px;
    height: 450px;
}

.banner
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .contentBx
{
    position: relative;
    z-index: 1;
    background: #f8f8f8;
    padding: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .contentBx h2
{
    font-family: 'Audiowide', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: black;
    letter-spacing: 4px;
    margin-bottom: 3vh;
    text-align: center;
    text-transform: uppercase;
}

.banner .contentBx h4
{
    font-family: 'Audiowide', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2vh;
}

.btn
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    border: 2px;
    color: #00be0d;
    background: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #00be0d;
    transition: 0.25s;
}

.btn:hover
{
    color: white;
    background: #00be0d;
}

.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2
{
    font-family: 'Audiowide', sans-serif;
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4em;
    text-transform: uppercase;
    color: black;
}

.title p
{
    margin-top: 40px;
    max-width: 80%;
    text-align: center;
}

.intro .title p, .conclusion .title p
{
    text-align: left;
    margin-top: 50px;
}

.title h2:before
{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 6px;
    background: #00be0d;
}

p
{
    color: black;
    font-weight: 300;
    text-align: justify;
}

.nums {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nums span {
    flex: 1;
    text-align: center;
    font-size: 30px;
    padding: 50px 20px 0px 20px;
}

.nums .legend {
    flex: 1;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
    padding: 0 20px 20px 20px;
}

.team .people 
{
    float: left;
    width: 25%;
    padding: 50px;
    text-align: center;
}

.team .people p
{
    text-align: center;
}

.team .people .pic
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}

footer
{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f4f4;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

footer .footerMenu
{
    display: flex;
}

footer .footerMenu li
{
    list-style: none;
}

footer .footerMenu li a
{
    display: inline-block;
    text-decoration: none;
    margin: 20px;
    color: black;
    font-family: 'Audiowide', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer .footerMenu li a:hover
{
    color: #00be0d;
}

.copyrightText
{
    color: black;
    text-align: center;
    letter-spacing: 1px;
}

.ols
{
    cursor: pointer;
    color: blue;
}

.overlay
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity:0;
    z-index: 1000;
}

.overlay.active
{
	visibility: visible;
	opacity: 1;
}

.popup2
{
	margin: 50px auto;
	padding: 30px 50px 30px 50px;
	background: #fff;
	border-radius: 5px;
	width: 70%;
	position:relative;
	transition: all 0.1s ease-in-out;
}

.popup2 .content2
{
	max-height: 30%;
	overflow: auto;
}

.popup2 .content2 img 
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.popup2 .close
{
	position: absolute;
	top: 10px;
	right: 20px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
    cursor: pointer;
}

@media (max-width: 991px) 
{
    header
    {
        padding: 20px 20px;
    }

    header.sticky
    {
        padding: 10px 20px;
    }

    section
    {
        padding: 20px;
    }

    .banner .contentBx
    {
        padding: 40px 30px;
    }

    .cover2
    {
        padding-top: 30px;
        width: 200px;
        height: 150px;
    }

    .cover3
    {
        margin-top: 50px;
        width: 200px;
        height: 225px;
    }

    .team .people 
    {
        width: 100%;
    }

    footer
    {
        padding: 40px 20px;
    }

    footer .footerMenu
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;
    }

    footer .footerMenu li a
    {
        margin: 5px 0;
    }

    .title
    {
        padding-top: 50px;
    }
}